
@media (max-width: 800px) {
 

    .lo{
        margin: auto;
        position: absolute;
        top: -5px;
        left: 0;
        width: 40px;
        height: 40px;
    }

    .lo1{
        margin: auto;
        position: absolute;
        top: -5px;
        right: 0;
        width: 40px;
        height: 40px;
    }
    .navbar{
        display: none;
    
    }
    .title{
        text-align: center;
        font-weight: bolder;
        margin-top: -5px;
        font-size: large;
    }

    .scroll-left p {
        font-size: small;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        line-height: 30px;
        text-align: center;
        /* Starting position */
        transform:translateX(100%);
        /* Apply animation to this element */
        animation: scroll-left 15s linear infinite;
       }}

       @media screen and (max-height: 450px) {
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
        
      }

.sec{
    display: none;
    transition: 1.5s;
}

      .side {
        background-color: #ddd;
        width: 0;
        height: 100%;
        z-index: 1;
        position: fixed;
        top: 0;
        left:0;
        min-width: 250px;
       display: block;
        padding: 10px;
        transition: 1s;
        
      }

     


      .side a{
        color: rgb(158, 158, 158);
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 10px 10px 10px;
        margin: auto;
        font-size: 18px;
        width: 50%;
        position: relative;
        top: 10px;
        left: 0;
        right: 0;
        
        
      }
      .side a:hover{
        color: rgb(0, 158, 179);
        border-bottom:  solid 2px rgb(0, 72, 82);
        
        
      }
   
      
.cont{
    margin: auto;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
}

.closebtn{
    color: black;
   border-bottom: none;
   position: absolute;
   border: none;
   top: -20px;
   
   right: 150px;
   font-size: 35px;
   background-color: transparent;
   padding: 10px;
   z-index: 2;

   transition: 3s;
   
}

.closebtn:hover{
    background-color: black;
    color: #ddd;
}



.openbtn {
    font-size: 20px;
    cursor: pointer;

    color: rgb(12, 11, 11);
    padding: 10px 15px;
    border: none;
    display: block;
    position: absolute;
    right: 0;
    top: 10.5em;
    border-radius: 4px;
  }

  
  
  
  .openbtn:hover {
    background-color:#444;
    opacity: 0;
    transition: 1s;
  }
      .dropdown1 {
        display: flex;
        justify-content: center;
        overflow: hidden;
      }
      
      .dropdown1 .dropbtn1 {
        font-size: 5px;  
        border: none;
        outline: none;
        padding: 18px 10px 10px;
        margin:0px;
        font-size: 18px;
        background-color: transparent;
        font-family: inherit;
        
        color: rgb(158, 158, 158);
      }
      
      .navbar a:hover, .dropdown1:hover .dropbtn1 {
        
        color: rgb(0, 158, 179);
        border-bottom:  solid 2px rgb(0, 72, 82);
      }
      
      .dropdown-content1 {
        display: none;
        position: absolute;
        right: -150px;
        background-color: transparent;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 3;
       
        
      }
      
      .dropdown-content1 a {
        float: none;
        color: black;
        padding: 12px 18px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: small;
        background-color: #ddd;
      }
      
      .dropdown-content1 a:hover {
        background-color: #ddd;
      }
      
      .dropdown1:hover .dropdown-content1 {
        display: block;
      }


      .btn1{
        height: 50px;
        background-color: rgb(0, 155, 147);
        border: none;
        border-radius: 10px;
        width: 60%;
        color: #ddd;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 20px;
    
    }

    .btn1:hover{
        background-color: black;
        color: white;
    }